<div class="app">
  <div class="container main-content">
    <div class="sidebar">
      <div class="picker">
        <app-color-picker [formControl]="backgroundColor" [colorList]="colorsList" [heading]="'Background'"></app-color-picker>
      </div>

      <div class="picker">
        <app-color-picker [formControl]="fontColor" [colorList]="colorsList" [heading]="'Font'"></app-color-picker>
      </div>

      <div class="picker">
        <app-color-picker [formControl]="linkColor" [colorList]="colorsList" [heading]="'Links'"></app-color-picker>
      </div>
    </div>

    <div class="content">
      <div class="background" [ngStyle]="{background: backgroundColor}">
        <p [ngStyle]="{color: fontColor.value}">
          {{backgroundColor | json}}

        </p>
        <p [ngStyle]="{color: fontColor.value}">
          {{fontColor | json}}

        </p>
        <p [ngStyle]="{color: fontColor.value}">
          {{linkColor | json}}

        </p>

        <a [ngStyle]="{color: linkColor}" href="https://medium.com/@dancornilov/angular-5-color-picker-component-be-colorfully-7e8b12c27ac0"
          target="_blank">
          Go to Color Picker Article
        </a>
      </div>
    </div>
  </div>
</div>