<div class="app">
  <div class="container main-content">
    <div class="sidebar">
      <div class="picker">
        <app-color-picker [color]="backgroundColor" [heading]="'Background'"
                          (event)="setColor('background', $event)"></app-color-picker>
      </div>

      <div class="picker">
        <app-color-picker [color]="fontColor" [heading]="'Font'" (event)="setColor('font', $event)"></app-color-picker>
      </div>

      <div class="picker">
        <app-color-picker [color]="linkColor" [heading]="'Links'" (event)="setColor('link', $event)"></app-color-picker>
      </div>
    </div>

    <div class="content">
      <div class="background" [ngStyle]="{background: backgroundColor}">
        <p [ngStyle]="{color: fontColor}">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
          dolor sit amet.</p>

        <a [ngStyle]="{color: linkColor}"
           href="https://medium.com/@dancornilov/angular-5-color-picker-component-be-colorfully-7e8b12c27ac0"
           target="_blank">
          Go to Color Picker Article
        </a>
      </div>
    </div>
  </div>
</div>
